@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')
;
@font-face {
  font-family: "Bergdool";
  src: 
    local ("Bergdool"),
    url("./public/Bergdool.ttf") format("truetype"),
    url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')

}
p {
  font-family: "Open-Sans"
}
h1,h2 {
  font-family: "Bergdool";
}
