*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
 }
 body{
  background-color: lightcyan;
 }
 main{
  padding-top: 1rem;
  padding-left: 1rem;
  color: black;
 }
 ul{
  padding-left: 2rem;
 }
 ol{
  padding-left: 2rem;
 }
.like{
  color: green;
 }
 li{
  color: crimson;
 }
 .thunder{
  color: purple;
 }
 a{
  color: plum;
  font-style: italic;
 }
h3{
  font-style: italic;
}
img{
  border-radius: 1rem;
}
 a[href="www.google.com"] {
  color: blue;
}

a[href="www.twitter.com"] {
  color: aqua;
}

a[href="www.github.com"] {
  color: purple;
}